/* INICIO */



#h1Inicio{

  color: white;
  font-size: 50px;
  text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
  font-family: Arial, Helvetica, sans-serif;
}

#h4Inicio{

  color: white;
  font-size: 20px;
  text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 767px){

  #h1Inicio{
    font-size: 30px;

  }
  
  #h4Inicio{
    font-size: 15px;
  }

  .imagenInicio{
    height: 175px;
    width: 250px;
  }

}


/* ABOUT US */


#h1AU{

  color: white;
  font-size: 50px;
  text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
  font-family: Arial, Helvetica, sans-serif;

}

.parrafoAU{
  font-size: 40px;
  color: white;
  text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
}

/* AU Smartphones */

@media (max-width: 767px){

  #h1AU{
    font-size: 30px;

  }
  
  .parrafoAU{
    font-size: 20px;
  }

  .imagenAU{
    height: 175px;
    width: 250px;
  }

}

/* AU Tabletas pequeñas */
@media (min-width: 768px) and (max-width: 1023px){

.imagenAU{
  height: 290px;
  width: 390px;
}


}

/* AU Laptops y tabletas grandes */

@media(min-width: 1024px) and (max-width: 1439px){
.imagenAU{
  height: 520px;
  width: 730px;
}

}





/* CONTACTO */


/* Labels del formulario*/
label{
color: white;
text-shadow: 2px 2px 2px black;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

textarea{
width: 300px; /* Ancho fijo */
height: 200px; /* Altura fija */
resize: none; /* Deshabilita la redimensionabilidad */
}

#h1C, #h2C{
font-size: 40px;
color: white;
text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
}

#pC{
font-size: 30px;
color: white;
text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
}

.imagenContacto{
height: 800px;
width: 1000px;
}



/* Contacto Smartphones */

@media (max-width: 767px){

#h1C, #h2C{
  font-size: 30px;
  color: white;
  text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
}

#pC{
  font-size: 20px;
  color: white;
  text-shadow: 1px 5px 5px hsl(0, 0%, 0%);
}

.imagenContacto{
    height: 175px;
    width: 250px;
}

}


/* Contacto Tabletas pequeñas */
@media (min-width: 768px) and (max-width: 1023px){

  .imagenContacto{
    height: 310px;
    width: 420px;
}

}

/* Contacto Laptops y tabletas grandes */

@media(min-width: 1024px) and (max-width: 1439px){

.imagenContacto{
  height: 400px;
  width: 540px;
}


}


/* PRODUCTOS */

#divProducto {
display:inline-flex;
margin: 10px;
}

.producto {
display: flex;
flex-direction: column;
margin: 40px;
}

.imagenProducto {
height: 300px;
width: 400px;
}

.h4Producto {
font-size: 30px;
color: white;
text-shadow: 2px 5px 5px hsl(0, 0%, 0%);
}

#h2P{
font-size: 40px;
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color:  1px 5px 5px black;
}

.nombre, .precio{
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
color: white;
background-color:  1px 5px 5px black;
}



/* Productos Smartphones */
@media (max-width: 767px){

#divProducto {
  display:inline-block;
  margin: 5px;
}

.imagenProducto{
  height: 120px;
  width: 160px;
}

.producto {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
}

/* Productos Tabletas pequeñas */
@media (min-width: 768px) and (max-width: 1023px){

#divProducto {
  display:inline-block;
  margin: 8px;
}

.imagenProducto{
  height: 160px;
  width: 200px;
}

.producto {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

}

/* Productos Laptops y tabletas grandes */

@media(min-width: 1024px) and (max-width: 1439px){

.h4Producto {
  font-size: 50px;
  color: white;
  text-shadow: 2px 5px 5px hsl(0, 0%, 0%);
}

#divProducto {
  display:inline-flex;
  margin: 8px;
}

.imagenProducto{
  height: 200px;
  width: 260px;
}

.producto {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

}



/* BOTONES */


button{

background-color: rgb(2, 8, 92);
color: white;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
border-color: black;
border-radius: 30px;

}

.botonProducto{
width: 130px;
height: 60px;

}



/* EXITO */


.h4Exito{

font-size: 30px;
color: white;
text-shadow: 2px 5px 5px black;
font-family: Arial, Helvetica, sans-serif;

}

.pExito{
font-size: 20px;
color: white;
text-shadow: 2px 5px 5px black;
font-family: Arial, Helvetica, sans-serif;
}





/*CARRITO DE COMPRAS */


#carrito, #total{
  font-size: 20px;
  color: white;
  text-shadow: 2px 5px 5px black;
  font-family: Arial, Helvetica, sans-serif;
}

#total{

  font-size: 40px;
}